# TypeScript
/tsconfig.tsbuildinfo

# next.js
/.next/
/out/

# jekyll
_site
.sass-cache
.jekyll-metadata

# node
node_modules

# PHPStorm
.idea

# MacOS
.DS_Store

# other
*.swp
*.log
*.zip
*~

/.bundle/
/vendor/bundle