---
layout: default
title: Home
---

{% include intro.html %}

<section class="post-list">
  <div class="container">

    <h2>What's New?</h2>

    {% for post in paginator.posts %}
      <article class="post-item">
        <div class="post-item-meta">
          <div class="post-item-meta-avatar">
            <a href="//github.com/{% if page.author != "uufish" %}{{ page.author }}{% else %}reiwa{% endif %}">
              <img src="//github.com/{% if page.author != "uufish" %}{{ page.author }}{% else %}reiwa{% endif %}.png" alt="Github Avatar">
            </a>
          </div>
          <div class="post-item-meta-detail">
            <a href="//github.com/{{ post.author }}">@{{ post.author }}</a>
            <p><span class="post-meta">{{ post.date | date: "%Y.%m.%d (%a)" }}</span></p>
          </div>
        </div>
        <p><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong></p>
        <p><span> {{ post.content | strip_html | truncate: 200 }}</span> <a class="post-link readmore" href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
      </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="container">
    {% include pagination.html %}
  </div>
  {% endif %}
</section>
