@import "../../node_modules/csshake/scss/csshake";

.intro {
  display: none;
}

.logo {
  opacity: 0;
}

.intro .lead {
  opacity: 0;
}

.post-item {
  @extend .shake-trigger;
  .readmore {
    @extend .shake-slow;
  }
}

