<footer class="site-footer">
  <div class="container">
    <small>&copy; {{ site.time | date: '%Y' }} All rights reserved.</small>
    <small class="img-logo">
      <a href="https://www.inta.co.jp/" target="_blank">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt=""/>
      </a>
    </small>
  </div>
  <script type="text/javascript" src="{{ "/assets/js/vendor.bundle.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/main.bundle.js" | prepend: site.baseurl }}"></script>
</footer>
